.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 10px 0px;
  width: 100%;
}

.paginate-btn {
  background: #1a90ff;
  color: white;
  border: none;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.paginate-btn.active {
  background: white;
  border: 1px solid #1a90ff;
  color: #1a90ff;
}

.paginate-btn:disabled {
  background: #f5f5f5;
  border: 1px solid #bebebe;
  color: #bebebe;
  cursor: not-allowed;
}
