.table {
  border: none;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table > thead > tr > th,
.table > tbody > tr > td {
  text-align: left;
  width: 100px;
  padding: 8px 0px;
}

.row {
  border-bottom: 1px solid gray;
}

.action-btn {
  background: transparent;
  border: none;
  padding: 12px;
}

.action-btn:hover {
  background: rgb(202, 202, 202);
  /* border: 1px solid gray; */
}

.delete-btn {
  color: red;
}

.delete-selection-btn {
  background: #ff5171;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 155px;
}

.table-footer {
  display: flex;
  align-items: center;
}
